<!DOCTYPE html>
<html lang="en">
	<head>
		<link
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/css/tether.min.css"></script>
		<script
			src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"
		></script>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Todo</title>
	</head>
	<body class="jumbotron">
		<div class="container">
			<a class="btn btn-secondary text-white float-right" href="/logout"
				>logout</a
			>
			<h1 class="mb-4 text-dark">Welcome <%=name%>, Enter Your Todos</h1>
			<form
				class="form-group d-flex mb-5"
				action="/addTask/<%=id%>?name=<%=name%>"
				method="POST"
			>
				<input
					type="text"
					name="task"
					class="input form-control"
					placeholder="Enter Task"
				/>
				<button class="btn btn-dark ml-4">Add</button>
			</form>

			<% for(let i = 0; i < tasks.length; i++){ %>
			<div
				class="shadow-lg p-3 mb-1 bg-white rounded display-text"
				style="height:7rem"
			>
				<div>
					<div class="float-left align-center">
						<h3><%=tasks[i].task%></h3>
					</div>
					<form
						action="/deleteTask/<%=tasks[i]._id%>?_method=DELETE"
						method="POST"
						class="form-group"
					>
						<button class="btn btn-danger float-right ml-4">
							delete
						</button>
					</form>
					<form
						action="/updateTask/<%=tasks[i]._id%>?_method=GET"
						method="GET"
						class="form-group update-btn"
					>
						<button type="submit" class="btn btn-primary float-right ml-4">
							update
						</button>
					</form>
				</div>
			</div>
			<br /><br />
			<%}%>
		</div>
	</body>
</html>
